<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %> | AX</title>
<meta name="description" content="Provide customized web design service." />
<meta
  name="keywords"
  content="AX,web design,website design,web,design,website,網頁設計,網頁製作,網站設計,網站製作,架設網站,架設網頁,網站架設,網頁架設"
/>
<meta name="author" content="TZU-CHAO WANG" />
<meta name="author" content="AX" />
<link
  rel="alternate"
  href="https://rss.app/feeds/cKF8dTVysBhdvFWz.xml"
  type="application/rss+xml"
  title="RSS Feed for AX"
/>
<link rel="manifest" href="/site.webmanifest" />
<meta name="theme-color" content="white" />
<meta name="msapplication-TileImage" content="/favicon.ico" />
<meta name="msapplication-TileColor" content="white" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/images/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/images/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/images/favicon-16x16.png"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>
