<nav class="nav">
  <div class="nav-wrapper">
    <div class="container">
      <div class="nav-container">
        <div class="logo">
          <a href="/">AX</a>
        </div>
        <div class="nav-content">
          <ul>
            <li><a class="active" href="/">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle">Portfolio</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/portfolio/business-web-design-sample">
                    Business Web Sample
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <button class="nav-toggler" type="button">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </button>
      </div>
    </div>
  </div>
</nav>
<div class="nav-area"></div>
