<nav class="nav">
  <div class="nav-wrapper">
    <div class="container">
      <div class="nav-container">
        <div class="logo">
          <a href="/">Xamavan</a>
        </div>
        <div class="nav-content">
          <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
          </ul>
        </div>
        <button class="nav-toggler" type="button">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </button>
      </div>
    </div>
  </div>
</nav>
