<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include("../partials/nav") %>
    <div class="vh-100 text-center valign-center" id="banner">
      <div class="row">
        <div class="col-12">
          <div class="container">
            <h1 class="title">AX</h1>
            <p class="subtitle">Let's play web design</p>
            <br />
            <p>
              你在煩惱量身定做的形象網站嗎？<br />您專注在經營，網頁交給我<br />現在就讓您的網站獨具風格，營造您的個人品牌形象！
            </p>
            <p>
              直接line @john29917958<br />或來信
              <a href="mailto:john29917958@gmail.com">john29917958@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include("../partials/scripts") %>
  </body>
</html>
