<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="/css/ax.css" />
  </head>

  <body>
    <%- include("../partials/nav") %>
    <div
      class="min-vh-100 pt-1 pb-4 d-flex text-center flex-wrap align-items-center text-gray-700"
      id="banner"
    >
      <div class="row">
        <div class="col-12">
          <div class="container">
            <h1>
              如何把我的理念，傳遞給全世界？<br />如何招攬全球的顧客，到我這裡來？
            </h1>
            <br />
            <p class="description">
              您需要提供一個網站，說您的故事給全球人聽<br />
              您需要做SEO，提升Google排名往第一頁<br />
              您需要設計call to action，號召客戶做您想要的行動
            </p>
            <br />
            <br />
            <h3>現在開始製作我的網站</h3>
            <p>
              歡迎Line聯絡<a href="https://line.me/ti/p/~john29917958"
                >@john29917958</a
              >
              <br />
              或來信<a href="mailto:john29917958@gmail.com"
                >john29917958@gmail.com</a
              >
              <br />
              讓我為您服務
            </p>
            <button
              class="btn-scroll-down-to"
              type="button"
              data-target="#action-section"
            >
              <i class="fa-solid fa-chevron-down"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="min-vh-100 pt-4 pb-4 d-flex text-center align-items-center bg-gray-200"
      id="action-section"
    >
      <div class="row">
        <div class="col-12">
          <div class="container">
            <h1>AX提供簡單的網頁設計與網站架設服務</h1>
            <p>
              您在煩惱量身定做的形象網站嗎？<br />
              您專注在經營，網頁交給我<br />
              現在就讓您的網站獨具風格，營造您的個人品牌形象！
            </p>
            <p>
              歡迎直接line<a href="https://line.me/ti/p/~john29917958"
                >@john29917958</a
              >
              <br />
              或來信<a href="mailto:john29917958@gmail.com"
                >john29917958@gmail.com</a
              >
              <br />
              讓我為您服務
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include("../partials/scripts") %>
    <script src="/js/index.js"></script>
  </body>
</html>
