<div
  class="min-vh-100 pt-1 pb-4 d-flex flex-wrap align-items-center text-default overflow-x-hidden bg-animation-network"
>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="d-inline-block trans-entrance-shrink-fade-in">
          <h1>Hi！我叫汪子超</h1>
          <p class="text-gray-7">程式設計師</p>
        </div>
        <br />
        <p class="d-inline-block trans-entrance-float-in trans-d-250">
          曾擔任軟體重寫計畫的技術領導，幫助團隊選擇適合的技術。因為喜歡玩遊戲且好奇它是怎麼做出來的而踏入資工領域，發現對程式開發很有熱忱，決心投入軟體開發。擅長後端技術
          C# .NET、ASP.NET MVC、Laravel，但對前端技術
          JavaScript、jQuery、CSS、Bootstrap、HTML 也擁有專案開發經驗，也能開發
          C++、Java 程式。
        </p>
        <br />
        <p class="d-inline-block trans-entrance-float-in trans-d-500">
          透過 Git/BitBucket，用 jQuery + Bootstrap + PHP
          開發含前台、後台、金流的高完整度企業電子商務網站，例如「<a
            href="https://www.chaowei-audio.com.tw/"
            target="_blank"
            >晁偉貿易</a
          >」以及「<a href="https://mobilsens.com/index.php" target="_blank"
            >創磁微測</a
          >」。
        </p>
        <br />
        <p class="d-inline-block trans-entrance-float-in trans-d-750">
          考取多益690證書擁有在街頭與傳教士用英語聊天的能力；因為熱愛開源文化擁有貢獻開源
          Laravel 文件專案的<a
            href="https://github.com/laraveltherightway/laraveltherightway.github.io/pull/34"
            target="_blank"
            >經驗</a
          >；因為熱愛 git 和軟體工程，擁有幫助台積團隊掌握 git 和 coding
          conventions 的經驗。
        </p>
        <br />
        <p class="d-inline-block mb-4 trans-entrance-float-in trans-d-1000">
          樂於與他人分享、享受設計與開發軟體的過程所帶來的滿滿成就感！因為追求更好的職涯發展與專業技能，尋找的是一個軟體工程師的機會。
        </p>
        <br />
        <a
          class="btn btn-primary text-trans-none mb-1 trans-entrance-float-in trans-d-1250"
          href="https://www.linkedin.com/in/tzu-chao-wang/"
          target="_blank"
        >
          <i class="fa-solid fa-right-to-bracket"></i>
          到 LinkedIn 找到我
        </a>
        <p class="trans-entrance-float-in trans-d-1500">
          或直接來信
          <a href="mailto:john29917958@gmail.com">john29917958@gmail.com</a>
          與我聯絡！
        </p>
        <br />
        <div class="text-center">
          <button
            class="btn-scroll-down-to trans-entrance-float-in trans-d-1750"
            type="button"
            data-target="#experience-section"
          >
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="min-vh-100 pt-4 pb-4 d-flex flex-wrap align-items-center text-default overflow-x-hidden bg-gray-2"
  id="experience-section"
>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <h1
          class="d-inline-block mb-2 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          經歷與成就
        </h1>
        <br />
        <h3
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          後端 PHP 工程師
        </h3>
        <br />
        <p
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry text-gray-7"
        >
          盤拓創意（2024/3 - 2024/6）
        </p>
        <br />
        <p
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          專門幫助公司擴充形象商務網站（含購物功能）的客製化功能。
        </p>
        <br />
        <p
          class="d-inline-block mb-2 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          <i class="fa-solid fa-check"></i>
          將企業老舊網站系統遷徙到公司內部成功部署，以進行後續設計和開發事宜<br />
          <i class="fa-solid fa-check"></i>
          解決呼叫 3rd. party 服務並回呼後發生網站產生新 PHP session 的問題
          <br />
          <i class="fa-solid fa-check"></i>
          串接 ezShip 台灣便利配服務<br />
          <i class="fa-solid fa-check"></i>
          使用 qrcode.js 幫商品建立連結商品頁面的 QR code
        </p>
        <br />
        <h3
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          資深自動化整合工程師
        </h3>
        <br />
        <p
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry text-gray-7"
        >
          台積電（2017/8 - 2023/10）
        </p>
        <br />
        <p
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          以軟體技術幫助工廠做自動化、節省人力成本和負擔。
        </p>
        <br />
        <p
          class="d-inline-block mb-4 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          <i class="fa-solid fa-check"></i>
          用 feature toggle 概念成功幫助公司把兩對複雜系統整合成一對<br />
          <i class="fa-solid fa-check"></i>
          用優良的 debugging
          能力修復功能無法運作的系統，把製造流程第一步的意外處理自動化比率從0%提升到35%<br />
          <i class="fa-solid fa-check"></i>
          幫助公司團隊掌握 git、GitLab 和 coding conventions
        </p>
        <br />
        <a
          class="btn btn-primary text-trans-none mb-1 trans-entrance-float-in trans-on-viewport-entry"
          href="https://www.linkedin.com/in/tzu-chao-wang/"
          target="_blank"
        >
          <i class="fa-solid fa-right-to-bracket"></i>
          到 LinkedIn 找到我
        </a>
        <p class="trans-entrance-float-in trans-on-viewport-entry">
          或直接來信
          <a href="mailto:john29917958@gmail.com">john29917958@gmail.com</a>
          與我聯絡！
        </p>
        <div class="text-center">
          <button
            class="btn-scroll-down-to trans-entrance-float-in trans-on-viewport-entry"
            type="button"
            data-target="#expertise-section"
          >
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="min-vh-100 pt-4 pb-4 d-flex align-items-center text-black overflow-x-hidden"
  id="expertise-section"
>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <h1
          class="d-inline-block mb-2 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          專長
        </h1>
        <br />
        <h3
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          軟體工程與程式設計
        </h3>
        <br />
        <p
          class="d-inline-block mb-2 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          <i class="fa-solid fa-check"></i>
          用 C#、ASP.NET MVC、Laravel、Bootstrap、jQuery、C++、Java 開發<br />
          <i class="fa-solid fa-check"></i>
          分析潛在的擴充，用 UML diagram 做設計，應用適用的 design pattern
          <br />
          <i class="fa-solid fa-check"></i>
          保證回歸測試的執行，確保軟體品質<br />
          <i class="fa-solid fa-check"></i>
          用 git 搭配 GitHub/GitLab/BitBucket 做版本控管、用 JIRA 和 Confluence
          管理工作和文件資源
        </p>
        <br />
        <h3
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          Linux 伺服器維運
        </h3>
        <br />
        <p
          class="d-inline-block mb-4 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          <i class="fa-solid fa-check"></i>
          Docker container 管理、Docker file 撰寫與維護、Docker compose file
          撰寫與維護<br />
          <i class="fa-solid fa-check"></i>
          Shell script 自動化腳本撰寫與維護（<a
            href="https://github.com/john29917958/shell_script"
            target="_blank"
            >作品</a
          >）<br />
          <i class="fa-solid fa-check"></i>
          AWS EC2 instance 管理與維護、domain name 申請與配置、Let's Encrypt SSL
          設置<br />
          <i class="fa-solid fa-check"></i>
          RHEL、Ubuntu
          檔案權限管理、使用者帳戶管理、防火牆設置、作業系統安裝與維運
        </p>
        <br />
        <a
          class="btn btn-primary text-trans-none mb-1 trans-entrance-float-in trans-on-viewport-entry"
          href="https://www.linkedin.com/in/tzu-chao-wang/"
          target="_blank"
        >
          <i class="fa-solid fa-right-to-bracket"></i>
          到 LinkedIn 找到我
        </a>
        <p class="trans-entrance-float-in trans-on-viewport-entry">
          或直接來信
          <a href="mailto:john29917958@gmail.com">john29917958@gmail.com</a>
          與我聯絡！
        </p>
      </div>
    </div>
  </div>
</div>
