<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <%- include("../partials/nav") %>
    <div class="vh-100 text-center valign-center" id="banner">
      <div class="row">
        <div class="col-12">
          <div class="container">
            <h1 class="title">如何讓全球的潛在客戶找到您，和您締結合作</h1>
            <br />
            <p class="description">
              您需要提供一個網站，說您的故事給全球人聽<br />
              您需要做SEO，免費提升網站搜尋排名<br />
              您需要設計call to action，號召客戶做您想要的行動
            </p>
          </div>
        </div>
      </div>
      <i class="fa-solid fa-chevron-down btn-to-next-sect"></i>
    </div>
    <div class="vh-100 text-center valign-center" id="action-section">
      <div class="row">
        <div class="col-12">
          <div class="container">
            <p>
              您在煩惱量身定做的形象網站嗎？<br />
              您專注在經營，網頁交給我<br />
              現在就讓您的網站獨具風格，營造您的個人品牌形象！
            </p>
            <p>
              直接line
              <i>
                <a href="https://line.me/ti/p/~john29917958">@john29917958 </a>
              </i>
              <br />
              或來信
              <a href="mailto:john29917958@gmail.com">
                john29917958@gmail.com
              </a>
              <br />
              讓我為您服務
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include("../partials/scripts") %>
  </body>
</html>
