<div
  class="min-vh-100 pt-1 pb-4 d-flex flex-wrap align-items-center text-default overflow-x-hidden bg-animation-network"
>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="d-inline-block trans-entrance-shrink-fade-in">
          <h1>Hi！我叫汪子超</h1>
          <p class="text-gray-7">程式設計師</p>
        </div>
        <br />
        <p class="d-inline-block trans-entrance-float-in trans-d-250">
          曾幫助公司把客戶企業的年久網站遷徙到公司用 Docker 部署。管理過學術
          GitLab 8
          伺服器、學院網站伺服器、學校客服網站伺服器。因為喜歡玩網路和單機遊戲而且好奇它是怎麼做出來的而踏入資工的領域，發現對網路與程式很有熱忱，決心投入資訊產業。擅長作業系統
          Ubuntu、shell script 自動化腳本撰寫，以及基礎的 Docker 技術，但對
          RHEL、AWS、GoDaddy、Let's Encrypt 也擁有專案經驗、擁有獨立安裝 RHEL 和
          Ubuntu 等的經驗。
        </p>
        <br />
        <p class="d-inline-block trans-entrance-float-in trans-d-500">
          使用 Docker 搭配 Git/BitBucket
          建立有效率的開發容器，成功開發含前台、後台、金流的高完整度電子商務網站，架設於
          GoDaddy，例如「<a href="https://www.chaowei-audio.com.tw/"
            >晁偉貿易官方網站</a
          >」，以及「<a href="https://mobilsens.com/index.php"
            >創磁微測官方網站</a
          >」。
        </p>
        <br />
        <p class="d-inline-block trans-entrance-float-in trans-d-750">
          考取多益690證書擁有在街頭與傳教士對話的英語能力；擁有幫助公司建立開發用的標準
          Docker image 的經驗；因為熱愛網路技術，擁有申請 domain name、設置
          Let's Encrypt SSL 憑證，並用 AWS EC2
          架設網站的經驗；因為熱愛開源文化擁有貢獻開源 Laravel 文件專案的<a
            href="https://github.com/laraveltherightway/laraveltherightway.github.io/pull/34"
            target="_blank"
            >經驗</a
          >；因為熱愛 git 和軟體工程，在台積電時擁有幫助團隊掌握 git、GitLab
          和分享 coding conventions 的經驗。
        </p>
        <br />
        <p class="d-inline-block mb-4 trans-entrance-float-in trans-d-1000">
          樂於與他人分享、享受做設計並用網路技術完成工作的過程、享受建構網路環境提升生活等帶來的滿滿成就感！因為追求更好的職涯發展與專業技能，尋找的是一個網路管理員的機會。
        </p>
        <br />
        <a
          class="btn btn-primary text-trans-none mb-1 trans-entrance-float-in trans-d-1250"
          href="https://www.linkedin.com/in/tzu-chao-wang/"
          target="_blank"
        >
          <i class="fa-solid fa-right-to-bracket"></i>
          到 LinkedIn 找到我
        </a>
        <p class="trans-entrance-float-in trans-d-1500">
          或直接來信
          <a href="mailto:john29917958@gmail.com">john29917958@gmail.com</a>
          與我聯絡！
        </p>
        <br />
        <div class="text-center">
          <button
            class="btn-scroll-down-to trans-entrance-float-in trans-d-1750"
            type="button"
            data-target="#experience-section"
          >
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="min-vh-100 pt-4 pb-4 d-flex flex-wrap align-items-center text-default overflow-x-hidden bg-gray-2"
  id="experience-section"
>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <h1
          class="d-inline-block mb-2 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          經歷與成就
        </h1>
        <br />
        <h3
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          後端 PHP 工程師
        </h3>
        <br />
        <p
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry text-gray-7"
        >
          盤拓創意（2024/03 ~ 2024/06）
        </p>
        <br />
        <p
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          專門幫助公司擴充形象商務網站（含購物功能）的客製化功能。
        </p>
        <br />
        <p
          class="d-inline-block mb-2 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          <i class="fa-solid fa-check"></i>
          成功將客戶企業的年久網站系統遷徙到公司內用 Docker（Docker Compose）
          部署<br />
          <i class="fa-solid fa-check"></i>
          用 Docker 配置開發用的標準 images，撰寫標準的 php.ini 檔案<br />
          <i class="fa-solid fa-check"></i>
          解決呼叫 3rd. party 服務並回呼後發生網站產生新 PHP session 的問題
          <br />
          <i class="fa-solid fa-check"></i>
          串接 ezShip 台灣便利配服務
        </p>
        <br />
        <h3
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          資深自動化整合工程師
        </h3>
        <br />
        <p
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry text-gray-7"
        >
          台積電（2017/08 ~ 2023/10）
        </p>
        <br />
        <p
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          以軟體技術幫助工廠做自動化、節省人力成本和負擔。
        </p>
        <br />
        <p
          class="d-inline-block mb-4 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          <i class="fa-solid fa-check"></i>
          解決 app servers 因為特定元件未更新導致 apps 無法啟動/運作的問題<br />
          <i class="fa-solid fa-check"></i>
          幫助公司團隊掌握 git、GitLab 和 coding conventions<br />
          <i class="fa-solid fa-check"></i>
          以 feature toggle 成功幫助台積將兩對複雜系統持續整合成一對<br />
          <i class="fa-solid fa-check"></i>
          以優良的 debugging
          能力修復程式年久無法運作的功能，使製造流程第一步的意外處理自動化比率從0%提升到35%
        </p>
        <br />
        <a
          class="btn btn-primary text-trans-none mb-1 trans-entrance-float-in trans-on-viewport-entry"
          href="https://www.linkedin.com/in/tzu-chao-wang/"
          target="_blank"
        >
          <i class="fa-solid fa-right-to-bracket"></i>
          到 LinkedIn 找到我
        </a>
        <p class="trans-entrance-float-in trans-on-viewport-entry">
          或直接來信
          <a href="mailto:john29917958@gmail.com">john29917958@gmail.com</a>
          與我聯絡！
        </p>
        <div class="text-center">
          <button
            class="btn-scroll-down-to trans-entrance-float-in trans-on-viewport-entry"
            type="button"
            data-target="#expertise-section"
          >
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="min-vh-100 pt-4 pb-4 d-flex align-items-center text-black overflow-x-hidden"
  id="expertise-section"
>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <h1
          class="d-inline-block mb-2 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          專長
        </h1>
        <br />
        <h3
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          Linux 伺服器維運
        </h3>
        <br />
        <p
          class="d-inline-block mb-2 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          <i class="fa-solid fa-check"></i>
          Docker container 管理、Docker file 撰寫與維護、Docker compose file
          撰寫與維護<br />
          <i class="fa-solid fa-check"></i>
          Shell script 自動化腳本撰寫與維護（<a
            href="https://github.com/john29917958/shell_script"
            target="_blank"
            >作品</a
          >）<br />
          <i class="fa-solid fa-check"></i>
          AWS EC2 instance 管理與維護、domain name 申請與配置、Let's Encrypt SSL
          設置<br />
          <i class="fa-solid fa-check"></i>
          RHEL、Ubuntu
          檔案權限管理、使用者帳戶管理、防火牆設置、作業系統安裝與維運
        </p>
        <br />
        <h3
          class="d-inline-block trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          軟體工程與程式設計
        </h3>
        <br />
        <p
          class="d-inline-block mb-4 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          <i class="fa-solid fa-check"></i>
          用 C#、C++、ASP.NET MVC、Laravel、Bootstrap、jQuery、Java 開發<br />
          <i class="fa-solid fa-check"></i>
          分析潛在的擴充，用 UML diagram 做設計，應用適用的 design pattern
          <br />
          <i class="fa-solid fa-check"></i>
          保證回歸測試的執行，確保軟體品質<br />
          <i class="fa-solid fa-check"></i>
          用 git 搭配 GitHub/GitLab/BitBucket 做版本控管、用 JIRA 和 Confluence
          管理工作和文件資源
        </p>
        <br />
        <a
          class="btn btn-primary text-trans-none mb-1 trans-entrance-float-in trans-on-viewport-entry"
          href="https://www.linkedin.com/in/tzu-chao-wang/"
          target="_blank"
        >
          <i class="fa-solid fa-right-to-bracket"></i>
          到 LinkedIn 找到我
        </a>
        <p class="trans-entrance-float-in trans-on-viewport-entry">
          或直接來信
          <a href="mailto:john29917958@gmail.com">john29917958@gmail.com</a>
          與我聯絡！
        </p>
      </div>
    </div>
  </div>
</div>
