<div
  class="min-vh-100 pt-1 pb-4 d-flex text-center flex-wrap align-items-center text-default overflow-x-hidden bg-animation-network"
>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <h1 class="d-inline-block mb-1 trans-entrance-shrink-fade-in">
          如何把你的理念傳到全世界<br />如何招攬全球顧客與你成交
        </h1>
        <br />
        <p
          class="d-inline-block mb-3 trans-entrance-shrink-fade-in trans-d-250"
        >
          你需要提供一個網站，說你的故事給大家聽<br />
          你需要提供快速的查詢服務，給有興趣的客戶輕鬆找到東西<br />
          你需要提供有效率又安全的購買服務，讓客人輕鬆買單
        </p>
        <br />
        <a
          class="btn btn-primary mb-2 trans-entrance-float-in trans-d-500"
          href="https://line.me/ti/p/~john29917958"
          >現在就製作我的網站後端，加 Line 洽詢</a
        >
        <p class="trans-entrance-float-in trans-d-750">
          或來信
          <a href="mailto:john29917958@gmail.com">john29917958@gmail.com</a>
          <br />
          讓我為你服務
        </p>
        <button
          class="btn-scroll-down-to trans-entrance-float-in trans-d-1000"
          type="button"
          data-target="#action-section"
        >
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="min-vh-100 pt-4 pb-4 d-flex align-items-center text-black bg-gray-2 overflow-x-hidden"
  id="action-section"
>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <h1
          class="d-inline-block mb-1 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          專屬你的網站後端開發
        </h1>
        <br />
        <p
          class="d-inline-block mb-3 trans-entrance-shrink-fade-in trans-on-viewport-entry"
        >
          你在煩惱量身定做的網站後端開發服務嗎？<br />
          <i class="fa-solid fa-check"></i>
          快速、可擴充的高品質網頁後端程式設計<br />
          <i class="fa-solid fa-check"></i> 可規模化的資料倉儲─資料庫設計<br />
          <i class="fa-solid fa-check"></i>
          安全的資料傳輸，客戶隱私有保障<br /><br />
          你專注在經營，網站交給我<br />
          現在就讓你的網站快速又安全，營造你在客戶心中的優質形象！
        </p>
        <br />
        <a
          class="btn btn-primary mb-2 trans-entrance-float-in trans-on-viewport-entry"
          href="https://line.me/ti/p/~john29917958"
          >現在就製作我的網站後端，加 Line 聯絡</a
        >
        <p class="trans-entrance-float-in trans-on-viewport-entry">
          或來信
          <a href="mailto:john29917958@gmail.com">john29917958@gmail.com</a>
          <br />
          讓我為你服務
        </p>
      </div>
    </div>
  </div>
</div>
