<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="/css/ax.css" />
  </head>

  <body>
    <%- include("../partials/nav") %>
    <div
      class="min-vh-100 pt-1 pb-4 d-flex text-center flex-wrap align-items-center text-default"
      id="banner"
    >
      <div class="row">
        <div class="col-12">
          <div class="container">
            <div class="mb-2">
              <h1
                class="m-0 h4 text-gray-8 test-zoom-in-from-large-example-animation"
              >
                AX網站設計架設
              </h1>
            </div>
            <p class="h1 text-primary">
              如何把你的理念傳到全世界<br />如何招攬全球顧客到你這來
            </p>
            <br />
            <p>
              你需要提供一個網站，說你的故事給全球人聽<br />
              你需要做SEO，往第一頁提升Google排名<br />
              你需要設計行動呼籲，號召客戶做你想要的行動
            </p>
            <br />
            <a
              class="btn btn-primary mb-1"
              href="https://line.me/ti/p/~john29917958"
              >現在就製作我的網站，以Line聯絡</a
            >
            <p>
              或來信<a href="mailto:john29917958@gmail.com"
                >john29917958@gmail.com</a
              >
              <br />
              讓我為你服務
            </p>
            <button
              class="btn-scroll-down-to"
              type="button"
              data-target="#action-section"
            >
              <i class="fa-solid fa-chevron-down"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="min-vh-100 pt-4 pb-4 d-flex text-center align-items-center bg-gray-2"
      id="action-section"
    >
      <div class="row">
        <div class="col-12">
          <div class="container">
            <h1 class="mb-1">專屬你的簡單客製化網站</h1>
            <p>
              你在煩惱量身定做的形象網站嗎？<br />
              你專注在經營，網頁交給我<br />
              現在就讓你的網站獨具風格，營造你的個人品牌形象！
            </p>
            <a
              class="btn btn-primary mb-1"
              href="https://line.me/ti/p/~john29917958"
              >現在就製作我的網站，以Line聯絡</a
            >
            <p>
              或來信<a href="mailto:john29917958@gmail.com"
                >john29917958@gmail.com</a
              >
              <br />
              讓我為你服務
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include("../partials/scripts") %>
  </body>
</html>
