.btn {
  @include reset-elem;

  font-size: $font-size-base;
  background-color: $primary;
  color: $white;
  border-radius: 0.1rem;
  padding: 0.9rem 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease 0.3s;
}

.btn:hover {
  filter: brightness(105%);
}

.btn:active {
  filter: brightness(113%);
}

.btn.btn-outline {
  background-color: transparent;
  border-style: solid;
  border-width: 0.1rem;
  border-color: $white;
}

.btn.btn-outline:hover {
  background-color: rgba($color: $white, $alpha: 0.2);
}

.btn.btn-outline:active {
  background-color: rgba($color: $white, $alpha: 0.3);
}
