.btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.9rem 1.5rem;
  font-size: $font-size-base;
  background-color: transparent;
  color: $text-default;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  border: 0.1rem solid $text-default;
  border-radius: 0.1rem;
  transition: all ease 0.3s;
}

.btn.btn-primary {
  background-color: $primary;
  color: $white;
  border-color: $primary;
}

.btn:hover {
  filter: brightness(105%);
}

.btn:active {
  filter: brightness(113%);
}

.btn.btn-outline {
  background-color: transparent;
  color: $text-default;
  border-style: solid;
  border-width: 0.1rem;
  border-color: $text-default;
}

.btn.btn-outline:hover {
  color: $text-default;
  background-color: rgba($color: $text-default, $alpha: 0.2);
}

.btn.btn-outline:active {
  color: $text-default;
  background-color: rgba($color: $text-default, $alpha: 0.3);
}

.btn.btn-outline-white {
  background-color: transparent;
  color: $white;
  border-color: $white;
}

.btn.btn-outline-white:hover {
  background-color: rgba($color: $white, $alpha: 0.2);
}

.btn.btn-outline-white:active {
  background-color: rgba($color: $white, $alpha: 0.3);
}

.btn-scroll-down-to {
  background: transparent;
  border: none;
  color: $gray-7;
  transition: all 0.3s ease;
  cursor: pointer;

  i {
    position: relative;
  }
}

.btn-scroll-down-to:hover,
.btn-scroll-down-to:active {
  color: $black;
}

.btn-scroll-down-to:hover i {
  top: 0.1rem;
}

.btn-scroll-down-to:active i {
  top: 0;
}
