@use "sass:map";

@mixin make-container($gutter: 1.5rem) {
  box-sizing: border-box;
  --xamavan-gutter-x: #{$gutter};
  --xamavan-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--xamavan-gutter-x) * 0.5);
  padding-left: calc(var(--xamavan-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.container {
  @include make-container();
}

@media only screen and (min-width: map.get($grid-breakpoints, "sm")) {
  .container {
    @include make-container(1.5rem);
    max-width: 540px;
  }
}

@media only screen and (min-width: map.get($grid-breakpoints, "md")) {
  .container {
    @include make-container(1.5rem);
    max-width: 720px;
  }
}

@media only screen and (min-width: map.get($grid-breakpoints, "lg")) {
  .container {
    @include make-container(1.5rem);
    max-width: 960px;
  }
}

@media only screen and (min-width: map.get($grid-breakpoints, "xl")) {
  .container {
    @include make-container(1.5rem);
    max-width: 1140px;
  }
}

@media only screen and (min-width: map.get($grid-breakpoints, "xxl")) {
  .container {
    @include make-container(1.5rem);
    max-width: 1320px;
  }
}
