footer {
  background-color: #282b2c;

  ul {
    li {
      border-top: 0.1rem solid $gray-9;
    }

    li:nth-of-type(1) {
      border-top: none;
    }
  }

  hr {
    height: 0.1rem;
    background-color: $gray-9;
    border: none;
  }

  .copywrite-section {
    p {
      margin-bottom: 0;
    }
  }
}
