@use "sass:map";

nav.nav {
  color: $text-default;
  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-height;
  background-color: $white;

  .container {
    background-color: $white;
    height: 100%;
  }

  .nav-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;

    .logo {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      * {
        margin: 0;
        text-decoration: none;
        color: inherit;
        font-size: x-large;
      }

      @media only screen and (min-width: map.get($grid-breakpoints, "sm")) {
        margin-right: auto;
      }
    }

    .nav-content {
      display: none;
      height: 100%;

      @media only screen and (min-width: map.get($grid-breakpoints, "sm")) {
        display: initial;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding-left: 0;
        margin-bottom: 0;
        height: 100%;
        align-items: center;

        li {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          height: 100%;
          transition: all ease 0.3s;
          cursor: pointer;

          a {
            text-decoration: none;
            color: inherit;
            padding-left: 1rem;
            padding-right: 1rem;
          }

          a.active {
            color: $link-text-active;
          }
        }

        li:hover {
          color: $white;
          background-color: $theme;

          a {
            color: inherit;
          }
        }
      }
    }

    $nav-toggler-size: 1.7rem;

    .nav-toggler {
      position: absolute;
      width: $nav-toggler-size;
      height: $nav-toggler-size;
      border: none;
      background-color: inherit;
      box-sizing: border-box;
      top: calc(50% - $nav-toggler-size / 2);
      right: 0;
      margin: 0;
      padding: 0;

      .bar {
        position: absolute;
        width: 100%;
        height: 0.1rem;
        background-color: $text-default;
      }

      .bar:nth-of-type(1) {
        top: 0;
      }

      .bar:nth-of-type(2) {
        top: calc(50% - 0.1rem / 2);
      }

      .bar:nth-of-type(3) {
        bottom: 0;
      }
    }

    @media only screen and (min-width: map.get($grid-breakpoints, "sm")) {
      .nav-toggler {
        display: none;
      }
    }
  }
}

.nav-area {
  width: 100%;
  height: $nav-height;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
