@use "sass:map";
@use "sass:color";

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $font-size-base;
}

%heading {
  margin-bottom: 1rem * 0.5;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

h1,
.h1 {
  @extend %heading;
  font-size: map.get($font-sizes, 1);
  line-height: $headings-line-height;
}

h2,
.h2 {
  @extend %heading;
  font-size: map.get($font-sizes, 2);
  line-height: $headings-line-height;
}

h3,
.h3 {
  @extend %heading;
  font-size: map.get($font-sizes, 3);
  line-height: $headings-line-height;
}

h4,
.h4 {
  @extend %heading;
  font-size: map.get($font-sizes, 4);
  line-height: $headings-line-height;
}

h5 {
  @extend %heading;
  font-size: map.get($font-sizes, 5);
  line-height: $headings-line-height;
}

h6 {
  @extend %heading;
  font-size: map.get($font-sizes, 6);
  line-height: $headings-line-height;
}

p {
  margin-bottom: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: color.scale($primary, $lightness: 20%);
}

b,
.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
  justify-content: center;
}
