@import "ax";

#banner {
  color: $gray-700;

  .btn-to-next-sect {
    transition: color 0.3s ease;
    cursor: pointer;
  }

  .btn-to-next-sect:hover,
  .btn-to-next-sect:focus {
    color: $black;
  }
}

#action-section {
  color: $gray-700;
}
